<!-- https://www.reddit.com/r/flask/comments/86yf1t/af_multiple_of_the_same_wtforms_form_on_one_page/ -->

<table>
    <tr>
      <td><a href="{{ url_for('movie', username=user.username, movieid=movie['movie'].movieid) }}"><img src="{{ movie['movie'].cover }}"></a></td>
    </tr>
    <tr>
      <td>
        <form action="{{ url_for('update', username=user.username) }}" method="post">
          {{ form.csrf_token() }}
          {{ form.set_default_value(-1) }}
          {{ form.movie_id(value=movie['movie'].movieid)}}
          {{ form.rating() }} {{ form.submit() }}
        </form>
      </td>
    </tr>
    <tr>
      <td>
        pred: {{ movie['pred'] }}
      </td>
    </tr>
</table>


